doctype
//
  -------------------------------------------------------------------


   
  -------------------------------- ♥ C.M. --------------------------------
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title A2 Type Converter
    meta(name='description', content='Dadadada')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', id='mainStylesheet' href='/css/converter.css')
    script(src="js/libs/modernizr/modernizr.js")
  body
    div#drop(ng-controller="dropFile", class="{{state}}", droppable="true")
      div#heart(class="{{heartType}}")
      div#specs
        div.spec(ng-repeat="spec in specs", id="{{spec.id}}")
          div {{spec.title}}
          textarea
            | ABCDEFGHIJKLMNOPQRSTUVWXYZ
            | abcdefghijklmnopqrstuvwxyz
            | 1234567890
            | áéíóúàèìòùÁÉÍÓÚÀÈÌÒÙ
            | ¡!¿?.:-;,^*çÇñÑ"·$%&amp;/()=´}{}
    script(src='js/libs/requirejs/require.js', data-main='js/converter.js')