doctype
//
  -------------------------------------------------------------------


   
  -------------------------------- ♥ C.M. --------------------------------
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title A2 Type Tester
    meta(name='description', content='Dadadada')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', id='mainStylesheet' href='/css/main.css')
  body
    ul(id="menu", class="clearfix")
      li(class="logo")
        a(href="/http://www.a2-type.co.uk/")
      li(class="about")
        ul
          li(class="first")
            a(href="http://www.a2-type.co.uk/html/about.html") News / About
          li
            a(href="http://www.a2-type.co.uk/html/contact.html") Contact
      li(class="fonts")
        ul
          li(class="first active")
            a(href="http://www.a2-type.co.uk/html/sans.html") Sans / Grotesque
          li
            a(href="http://www.a2-type.co.uk/html/serif.html") Serif + Slab Serif
          li
            a(href="http://www.a2-type.co.uk/html/script.html") Script / Handwriting
          li
            a(href="http://www.a2-type.co.uk/html/poster.html") Poster / Display
          li
            a(href="http://www.a2-type.co.uk/html/typewriter_index.html") Typewriter
          li
            a(href="http://www.a2-type.co.uk/html/angular.html") Angular
          li
            a(href="http://www.a2-type.co.uk/html/flowers-ornaments.html") Flowers / Ornaments / Borders
          li
            a(href="http://www.a2-type.co.uk/html/stencil.html") Stencil
      li(class="news")
        ul
          li(class="first")
            a(href="http://www.a2-type.co.uk/html/newsletter.html") Sign up for newsletter
          li
            a(href="http://www.a2-type.co.uk/html/webfonts.html") Web Fonts
      li
        ul
          li(class="first")
            a(href="http://www.a2-type.co.uk/html/technical.html") Technical information
          li
            a(href="http://www.a2-type.co.uk/html/commission.html") Commission type
      li
        ul
          li
            a(href="http://www.a2-type.co.uk/html/viewcart.php") View Cart
    div(id="typetester")
      ul(id="toolbar", class="clearfix")
        li(id="fontSelector", class="dropdown")
          a#fontTitle(href="javascript:void(0)", data-defTitle="Select font") Select font
          ul#fontList
        li(id="weightSelector", class="dropdown")
          a#weightTitle(href="javascript:void(0)", data-defTitle="Weight / Style") Weight / Style
          ul#weightList
        li(id="sizeSelector",class="slider")
          span Size
          div(class="dragger",data-attr="size",data-range="160")
        li(id="heightSelector",class="slider")
          span Line spacing
          div(class="dragger",data-attr="height",data-range="200")
      div(id="content")
        div#loadingFont Loading font...
        div#resizeAlert Resizing...
          div#loaderBar
        div.loading(id="editor")
        div(id="options")
          div(id="colorCircle")
            a(id="outerCircle")
              div(id="colorZoom")
                div(class="inner")
            div(id="centerCircle")
          a(href="javascript:void(0)",id="buy")
          a(href="javascript:void(0)",id="invert")
    script(src='js/libs/requirejs/require.js', data-main='js/main.js')