doctype
//
  -------------------------------------------------------------------


   
  -------------------------------- ♥ C.M. --------------------------------
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title A2 Type Tester
    meta(name='description', content='Dadadada')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', id='mainStylesheet' href='/css/main.css')
  body
    ul(id="menu", class="clearfix")
      li(class="logo")
        a(href="/http://www.a2-type.co.uk/")
      li(class="about")
        ul
          li(class="first")
            a(href="http://www.a2-type.co.uk/html/about.html") News / About
          li
            a(href="http://www.a2-type.co.uk/html/contact.html") Contact
      li(class="fonts")
        ul
          li(class="first active")
            a(href="http://www.a2-type.co.uk/html/sans.html") Sans / Grotesque
          li
            a(href="http://www.a2-type.co.uk/html/serif.html") Serif + Slab Serif
          li
            a(href="http://www.a2-type.co.uk/html/script.html") Script / Handwriting
          li
            a(href="http://www.a2-type.co.uk/html/poster.html") Poster / Display
          li
            a(href="http://www.a2-type.co.uk/html/typewriter_index.html") Typewriter
          li
            a(href="http://www.a2-type.co.uk/html/angular.html") Angular
          li
            a(href="http://www.a2-type.co.uk/html/flowers-ornaments.html") Flowers / Ornaments / Borders
          li
            a(href="http://www.a2-type.co.uk/html/stencil.html") Stencil
      li(class="news")
        ul
          li(class="first")
            a(href="http://www.a2-type.co.uk/html/newsletter.html") Sign up for newsletter
          li
            a(href="http://www.a2-type.co.uk/html/webfonts.html") Web Fonts
      li
        ul
          li(class="first")
            a(href="http://www.a2-type.co.uk/html/technical.html") Technical information
          li
            a(href="http://www.a2-type.co.uk/html/commission.html") Commission type
      li
        ul
          li
            a(href="http://www.a2-type.co.uk/html/viewcart.php") View Cart
    div(id="typetester")
      ul(id="toolbar", class="clearfix")
        li(id="fontSelector", class="dropdown")
          a(href="javascript:void(0)") Select font
          ul
            li
              a(href="javascript:void(0)", data-name="boing", class="unavailable")
                div Boing *
            li
              a(href="javascript:void(0)", data-name="regular")
                div Regular
            li
              a(href="javascript:void(0)", data-name="newRailAlphabet", class="unavailable")
                div New Rail Alphabet *
            li
              a(href="javascript:void(0)", data-name="grot10", class="unavailable")
                div Grot 10 *
            li
              a(href="javascript:void(0)", data-name="London", class="unavailable")
                div London *
            li
              a(href="javascript:void(0)", data-name="battersea", class="unavailable")
                div Battersea *
            li
              a(href="javascript:void(0)", data-name="klampenborg", class="unavailable")
                div Klampenborg *
            li
              a(href="javascript:void(0)", data-name="recognition", class="unavailable")
                div Recognition *
            li
              a(href="javascript:void(0)", data-name="newGrotesk", class="unavailable")
                div New Grotesk! *
            li
              a(href="javascript:void(0)", data-name="italianSans", class="unavailable")
                div Italian Sans *
            li
              a(href="javascript:void(0)", data-name="dane", class="unavailable")
                div Dane *
            li
              a(href="javascript:void(0)", data-name="antwerp")
                div Antwerp
            li
              a(href="javascript:void(0)", data-name="fm", class="unavailable")
                div FM *
            li
              a(href="javascript:void(0)", data-name="outsiders", class="unavailable")
                div Outsiders *
            li
              a(href="javascript:void(0)", data-name="typewriter")
                div Typewriter
            li
              a(href="javascript:void(0)", data-name="kunstuff", class="unavailable")
                div Kunstuff *
            li
              a(href="javascript:void(0)", data-name="vogueFloral", class="unavailable")
                div Vogue Floral *
            li
              a(href="javascript:void(0)", data-name="monday", class="unavailable")
                div Monday *
            li
              a(href="javascript:void(0)", data-name="vogueParis", class="unavailable")
                div Vogue Paris *
            li
              a(href="javascript:void(0)", data-name="signature", class="unavailable")
                div Signature *
            li
              a(href="javascript:void(0)", data-name="aveny-t", class="unavailable")
                div Aveny-T *
            li
              a(href="javascript:void(0)", data-name="a2Becket", class="unavailable")
                div A2 BEckett *
            li
              a(href="javascript:void(0)", data-name="eyesLie", class="unavailable")
                div Eyes Lies *
            li
              a(href="javascript:void(0)", data-name="cwm", class="unavailable")
                div CWM *
            li
              a(href="javascript:void(0)", data-name="ergonomics", class="unavailable")
                div Ergonomics *
            li
              a(href="javascript:void(0)", data-name="cphTram", class="unavailable")
                div Cph. Tram *
        li(id="weightSelector", class="dropdown")
          a(href="javascript:void(0)") Weight
          ul
        li(id="sizeSelector",class="slider")
          span Size
          div(class="dragger",data-attr="size",data-range="160")
        li(id="heightSelector",class="slider")
          span Line spacing
          div(class="dragger",data-attr="height",data-range="200")
      div(id="content")
        div(id="editor")
        div(id="options")
          div(id="colorCircle")
            a(id="outerCircle")
              div(id="colorZoom")
                div(class="inner")
            div(id="centerCircle")
            a(href="javascript:void(0)",id="whiteCircle", class="basicSelectors",data-color='rgb(255,255,255)')
            a(href="javascript:void(0)",id="blackCircle", class="basicSelectors",data-color='rgb(0,0,0)')
          a(href="javascript:void(0)",id="buy")
          a(href="javascript:void(0)",id="invert")
    script(src='js/libs/requirejs/require.js', data-main='js/main.js')
    