@font-face {
  font-family: 'antwerp-bold';
  src: url("/fonts/antwerp/bold.otf") format("opentype");
}
@font-face {
  font-family: 'antwerp-bold-italic';
  src: url("/fonts/antwerp/bold_italic.otf") format("opentype");
}
@font-face {
  font-family: 'antwerp-light';
  font-weight: normal;
  src: url("/fonts/antwerp/light.otf") format("opentype");
}
@font-face {
  font-family: 'antwerp-light-italic';
  font-weight: normal;
  src: url("/fonts/antwerp/light_italic.otf") format("opentype");
}
@font-face {
  font-family: 'antwerp-medium';
  font-weight: normal;
  src: url("/fonts/antwerp/medium.otf") format("opentype");
}
@font-face {
  font-family: 'antwerp-medium-italic';
  font-weight: normal;
  src: url("/fonts/antwerp/medium.otf") format("opentype");
}
@font-face {
  font-family: 'antwerp-semibold';
  font-weight: normal;
  src: url("/fonts/antwerp/semibold.otf") format("opentype");
}
@font-face {
  font-family: 'antwerp-semibold-italic';
  font-weight: normal;
  src: url("/fonts/antwerp/semibold_italic.otf") format("opentype");
}
@font-face {
  font-family: 'antwerp-regular';
  font-weight: normal;
  src: url("/fonts/antwerp/regular.otf") format("opentype");
}
@font-face {
  font-family: 'antwerp-regular-italic';
  font-weight: normal;
  src: url("/fonts/antwerp/regular_italic.otf") format("opentype");
}