@font-face {
  font-family: 'regular-light';
  font-weight: normal;
  src: url("/fonts/regular/light.otf") format("opentype");
}
@font-face {
  font-family: 'regular-light-italic';
  src: url("/fonts/regular/light_italic.otf") format("opentype");
}
@font-face {
  font-family: 'regular-regular';
  font-weight: normal;
  src: url("/fonts/regular/regular.otf") format("opentype");
}
@font-face {
  font-family: 'regular-regular-italic';
  font-weight: normal;
  src: url("/fonts/regular/regular_italic.otf") format("opentype");
}
@font-face {
  font-family: 'regular-medium';
  font-weight: normal;
  src: url("/fonts/regular/medium.otf") format("opentype");
}
@font-face {
  font-family: 'regular-medium-italic';
  font-weight: normal;
  src: url("/fonts/regular/medium.otf") format("opentype");
}
@font-face {
  font-family: 'regular-semibold';
  font-weight: normal;
  src: url("/fonts/regular/semibold.otf") format("opentype");
}
@font-face {
  font-family: 'regular-semibold-italic';
  font-weight: normal;
  src: url("/fonts/regular/semibold_italic.otf") format("opentype");
}
@font-face {
  font-family: 'regular-bold';
  font-weight: normal;
  src: url("/fonts/regular/bold.otf") format("opentype");
}
@font-face {
  font-family: 'regular-bold-italic';
  font-weight: normal;
  src: url("/fonts/regular/bold_italic.otf") format("opentype");
}
@font-face {
  font-family: 'regular-extrabold';
  font-weight: normal;
  src: url("/fonts/regular/extrabold.otf") format("opentype");
}
@font-face {
  font-family: 'regular-extrabold-italic';
  font-weight: normal;
  src: url("/fonts/regular/extrabold_italic.otf") format("opentype");
}
@font-face {
  font-family: 'regular-black';
  font-weight: normal;
  src: url("/fonts/regular/extrabold.otf") format("opentype");
}
@font-face {
  font-family: 'regular-black-italic';
  font-weight: normal;
  src: url("/fonts/regular/extrabold_italic.otf") format("opentype");
}
