@font-face {
  font-family: 'typewriter-bold';
  font-weight: normal;
  src: url("/fonts/typewriter/bold.otf") format("opentype");
}
@font-face {
  font-family: 'typewriter-bold-italic';
  src: url("/fonts/typewriter/bold_italic.otf") format("opentype");
}
@font-face {
  font-family: 'typewriter-medium';
  font-weight: normal;
  src: url("/fonts/typewriter/medium.otf") format("opentype");
}
@font-face {
  font-family: 'typewriter-medium-italic';
  font-weight: normal;
  src: url("/fonts/typewriter/medium.otf") format("opentype");
}
@font-face {
  font-family: 'typewriter-regular';
  font-weight: normal;
  src: url("/fonts/typewriter/regular.otf") format("opentype");
}
@font-face {
  font-family: 'typewriter-regular-italic';
  font-weight: normal;
  src: url("/fonts/typewriter/regular_italic.otf") format("opentype");
}